@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --normal: 59, 10%, 70%;
    --fire: 26, 85%, 56%;
    --water: 221, 82%, 66%;
    --electric: 48, 93%, 57%;
    --grass: 98, 52%, 54%;
    --ice: 177, 47%, 72%;
    --fighting: 2, 66%, 46%;
    --poison: 301, 45%, 44%;
    --ground: 43, 68%, 64%;
    --flying: 256, 81%, 76%;
    --psychic: 342, 93%, 65%;
    --bug: 67, 75%, 41%;
    --rock: 50, 54%, 46%;
    --ghost: 266, 27%, 47%;
    --dragon: 257, 97%, 60%;
    --dark: 24, 23%, 36%;
    --steel: 240, 19%, 76%;
    --fairy: 330, 50%, 68%;
}

/* General Stuff */
body {
    margin: 0;
}

* {
    font-family: 'Roboto', 'sans-serif';
    box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

article {
  flex: 1;
}

/* Header Stuff */
header {
    position: relative;
    display: flex!important;
    align-items: center;
    color: #FFF;
    padding: 10px;
    font-size: 0.7rem;
    background-color: #ee1515!important;
}

header img {
    height: 50px;
    display: inline-block;
    padding-right: 10px;
}

header a {
    height: 50px;
}

header .text {
    display: inline-block;
}

@media (min-width: 320px) {
    header .text {
        font-size: 0.6rem;
    }
}

@media (min-width: 350px) {
    header .text {
        font-size: 0.7rem;
    }
}

/* Footer Stuff */
footer {
    display: flex!important;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 4rem;  
    background-color: hsl(0, 86%, 51%);
    color: #FFF;
}

footer a {
    color: hsl(0, 86%, 30%);
    text-decoration: none;
}

footer a:hover {
    color: hsl(0, 86%, 95%);
    text-decoration: none;
}

footer p {
    padding: 20px;
    margin: 0;
}

@media (min-width: 320px) {
    footer p {
        font-size: 0.6rem;
    }
}

@media (min-width: 342px) {
    footer p {
        font-size: 0.8rem;
    }
}

@media (min-width: 540px) {
    footer p {
        font-size: 1rem;
    }
}

/* Form Stuff */
form {
    text-align: center;
    margin: 1rem;
}

.flex-item form {
    margin: 0 0 4px;
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    height: 35px;
    width: 5rem;
    background-color: hsla(0, 60%, 51%, 1);
    color: #FFF;
    font-size: 1rem;
    margin-left: 2px;
    margin-right: 2px;
}

#searchButton {
    margin-left: -4px;
    margin-right: 0;
}

#pokemonInput {
    height: 35px;
    font-size: 1rem;
    width: 65%;
    max-width: 300px;
    text-align: center;
    border: 1px solid hsla(0, 60%, 51%, 1);
    background-color: hsla(0, 60%, 51%, 0.1);
}

.button:hover {
    background-color: hsla(0, 86%, 51%, 1);
}

/* Pokemon Data Stuff */
#searchResponse p {
    margin: 0;
}

/* Made using Flexy Boxes */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

.flex-item:nth-child(1) {
    font-size: 1.5rem;
    flex: 8 1 auto;
}
.flex-item:nth-child(2) {
    font-size: 1.5rem;
    flex: 1 1 auto;
}
.flex-item:nth-child(3) {
    flex: 0 1 100%;
    padding: 0!important;
}
.flex-item:nth-child(4) {
    flex: 1 1 auto;
}
.flex-item:nth-child(5) {
    flex: 1 1 auto;
}
.flex-item:nth-child(6) {
    flex: 1 1 auto;
}
.flex-item:nth-child(7) {
    flex: 0 1 100%;
}

/* and other styling */
.flex-container > .flex-item {
    position: relative;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 0 0 2px;
    border-radius: 7px;
    margin: 5px;
    text-align: center;
    background-color: #FFF;
}

.flex-container {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: inset 0 0 2px;
    max-width: 700px;
    margin: 0 auto 16px;
}

.flex-item img, #sprite-holder {
    width: 192px;
    height: 192px;
    margin-top: 4px;
}

#sprite-holder {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-content: center;
    justify-content: center;
    line-height: 192px;
    margin: 4px auto;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.2);
}

/* More Data Styling Stuff */
.hint {
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.hint a {
    text-decoration: none;
    color: hsla(0, 60%, 51%, 1);
}

.traits {
    height: 200px;
}

.traits, .pkType, .pkAbility, .pkSize {
    width: 160px;
    text-align: center;
    display: inline-block;
}

@media (min-width: 350px) {
    .pkType, .pkAbility {
        width: 120px;
    }
}

@media (min-width: 400px) {
    .pkType, .pkAbility {
        width: 160px;
    }
}

@media (min-width: 520px) {
    .pkType, .pkAbility, .pkSize {
        width: 120px;
    }
}

@media (min-width: 600px) {
    .pkType, .pkAbility, .pkSize {
        width: 160px;
    }
}

.pkType, .pkAbility, .pkSize {
    margin: 1rem 0 0;
    height: 2rem;
    line-height: 2rem;
}

.pkType {
    background-color: rgba(0, 0, 0, 0.2);
}

.pkAbility, .pkSize, .pkMove {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.grow p {
    font-size: 1.3rem;
}

.moves {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 16px 0 0;
}

@media (min-width: 320px) {
    .moves {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 400px) {
    .moves {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 600px) {
    .moves {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pkMove {
    display: inline;
    padding: 3px;
    margin: 3px;
}